In [363]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
os.chdir('/home/tinkering/Downloads/sg_challenge_2')

In [364]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
submission = pd.read_csv('sample_submissions.csv')

In [365]:
train.head()

,transaction_id,num_var_1,num_var_2,num_var_3,num_var_4,num_var_5,num_var_6,num_var_7,cat_var_1,cat_var_2,...,cat_var_34,cat_var_35,cat_var_36,cat_var_37,cat_var_38,cat_var_39,cat_var_40,cat_var_41,cat_var_42,target
0,id_11,2.302632e-08,0.040182,0.0,1.800000e-07,2.302632e-08,2.368421e-08,1.115205e-08,NaN,ce,...,0,0,0,0,0,0,0,0,0,0
1,id_33,7.965789e-06,0.157872,0.0,2.105000e-06,2.769737e-07,7.965789e-06,2.433058e-06,da,tn,...,0,0,0,0,0,0,0,0,0,0
2,id_51,7.828947e-08,0.089140,0.0,3.550000e-07,4.671053e-08,1.052632e-07,4.276014e-07,gf,ce,...,0,0,0,0,0,0,0,0,0,0
3,id_54,7.894737e-08,0.227239,0.0,1.050000e-06,1.381579e-07,2.190789e-07,1.848054e-08,NaN,ce,...,0,0,0,0,0,0,0,0,0,0
4,id_62,3.321053e-06,0.160410,0.0,2.105000e-06,2.769737e-07,3.340789e-06,2.152983e-06,da,tn,...,0,0,0,0,0,0,0,0,0,0

In [366]:
train.describe()

,num_var_1,num_var_2,num_var_3,num_var_4,num_var_5,num_var_6,num_var_7,cat_var_19,cat_var_20,cat_var_21,...,cat_var_34,cat_var_35,cat_var_36,cat_var_37,cat_var_38,cat_var_39,cat_var_40,cat_var_41,cat_var_42,target
count,3.489780e+05,348978.000000,348978.000000,3.489780e+05,3.489780e+05,3.489780e+05,3.489780e+05,348978.000000,348978.000000,348978.000000,...,348978.000000,348978.0,348978.0,348978.0,348978.0,348978.000000,348978.0,348978.000000,348978.0,348978.000000
mean,2.059731e-05,0.160586,0.000011,4.604324e-05,8.187931e-06,1.482768e-05,1.942554e-05,0.520279,0.479721,0.672257,...,0.000003,0.0,0.0,0.0,0.0,0.000009,0.0,0.000003,0.0,0.107078
std,1.930948e-03,0.131499,0.002538,1.999947e-03,7.213736e-04,1.492990e-03,1.462171e-03,0.499589,0.499589,0.469391,...,0.001693,0.0,0.0,0.0,0.0,0.002932,0.0,0.001693,0.0,0.309213
min,0.000000e+00,0.000317,0.000000,4.000000e-08,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000
25%,4.605263e-08,0.084514,0.000000,3.550000e-07,4.671053e-08,4.407895e-08,1.720602e-08,0.000000,0.000000,0.000000,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000
50%,1.802632e-07,0.101512,0.000000,1.875000e-06,2.598684e-07,9.868421e-08,8.252516e-08,1.000000,0.000000,1.000000,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000
75%,6.513158e-07,0.160833,0.000000,2.105000e-06,2.769737e-07,4.618421e-07,3.571842e-07,1.000000,1.000000,1.000000,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000
max,5.427632e-01,1.000000,0.758621,3.750000e-01,2.171053e-01,4.605263e-01,3.542030e-01,1.000000,1.000000,1.000000,...,1.000000,0.0,0.0,0.0,0.0,1.000000,0.0,1.000000,0.0,1.000000

In [367]:
train.isnull().sum()/len(train)

transaction_id    0.000000
num_var_1         0.000000
num_var_2         0.000000
num_var_3         0.000000
num_var_4         0.000000
num_var_5         0.000000
num_var_6         0.000000
num_var_7         0.000000
cat_var_1         0.045223
cat_var_2         0.000000
cat_var_3         0.125661
cat_var_4         0.000000
cat_var_5         0.000000
cat_var_6         0.000000
cat_var_7         0.000000
cat_var_8         0.314455
cat_var_9         0.000000
cat_var_10        0.000000
cat_var_11        0.000000
cat_var_12        0.000000
cat_var_13        0.000000
cat_var_14        0.000000
cat_var_15        0.000000
cat_var_16        0.000000
cat_var_17        0.000000
cat_var_18        0.000000
cat_var_19        0.000000
cat_var_20        0.000000
cat_var_21        0.000000
cat_var_22        0.000000
cat_var_23        0.000000
cat_var_24        0.000000
cat_var_25        0.000000
cat_var_26        0.000000
cat_var_27        0.000000
cat_var_28        0.000000
cat_var_29        0.000000
cat_var_30        0.000000
cat_var_31        0.000000
cat_var_32        0.000000
cat_var_33        0.000000
cat_var_34        0.000000
cat_var_35        0.000000
cat_var_36        0.000000
cat_var_37        0.000000
cat_var_38        0.000000
cat_var_39        0.000000
cat_var_40        0.000000
cat_var_41        0.000000
cat_var_42        0.000000
target            0.000000
dtype: float64

In [368]:
#filling the null values with maximum values within columns

train.cat_var_1 = train.cat_var_1.fillna('gf', axis = 0)
train.cat_var_3 = train.cat_var_3.fillna('qt', axis = 0)
train.cat_var_8 = train.cat_var_8.fillna('dn', axis = 0)

test.cat_var_1 = test.cat_var_1.fillna('gf', axis = 0)
test.cat_var_3 = test.cat_var_3.fillna('qt', axis = 0)
test.cat_var_8 = test.cat_var_8.fillna('dn', axis = 0)
test.cat_var_6 = test.cat_var_6.fillna('zs', axis = 0)

In [369]:
test.isnull().values.any()

False

In [370]:
train.cat_var_24.value_counts()

1    348663
0       315
Name: cat_var_24, dtype: int64

In [371]:
list(train.iloc[:, 31:].columns)

['cat_var_24',
 'cat_var_25',
 'cat_var_26',
 'cat_var_27',
 'cat_var_28',
 'cat_var_29',
 'cat_var_30',
 'cat_var_31',
 'cat_var_32',
 'cat_var_33',
 'cat_var_34',
 'cat_var_35',
 'cat_var_36',
 'cat_var_37',
 'cat_var_38',
 'cat_var_39',
 'cat_var_40',
 'cat_var_41',
 'cat_var_42',
 'target']

In [372]:
training_set = train.drop(labels = ['transaction_id'] ,axis = 1)
test_set = test.drop(labels = ['transaction_id'], axis = 1)
target = train['target']

training_set = training_set.drop(labels = list(training_set.iloc[:,30:]), axis = 1)
test_set = test_set.drop(labels = list(test_set.iloc[:, 30:]), axis = 1)

In [373]:
from sklearn.preprocessing import LabelEncoder

In [374]:
lbl = []
for i in range(len(training_set.iloc[:,7:28].columns)):
    lbl.append(LabelEncoder())

In [375]:
#def new_value_removal(x, df):
 #   if x not in df.unique():
  #      x = df.value_counts().idxmax()
   # return x

In [376]:
for i in range(len(training_set.iloc[:,7:28].columns)):
    #test_set.iloc[:,i+7] = test_set.iloc[:,i+7].map(lambda x:new_value_removal(x, training_set.iloc[:,i+7]))
    training_set.iloc[:,i+7] = lbl[i].fit_transform(training_set.iloc[:,i+7])
    test_set.iloc[:,i+7] = lbl[i].fit_transform(test_set.iloc[:,i+7])

In [377]:
from sklearn.model_selection import train_test_split

In [378]:
x_data, x_test, y_data, y_test = train_test_split(training_set, target, test_size = 0.15, random_state = 0, stratify = target)
x_data = x_data.reset_index(drop = True)
y_data = y_data.reset_index(drop = True)
x_test = x_test.reset_index(drop = True)
y_test = y_test.reset_index(drop = True)

In [379]:
x_train, x_val, y_train, y_val = train_test_split(x_data, y_data, test_size = 0.25, random_state = 0, stratify = y_data)
x_train = x_train.reset_index(drop = True)
x_val = x_val.reset_index(drop = True)
y_train = y_train.reset_index(drop = True)
y_val = y_val.reset_index(drop = True)

In [380]:
import xgboost as xgb

In [381]:
params = {"objective":"binary:logistic",
          "booster":"gbtree",
          "eta":0.1,
          "max_depth": 6,
         "subsample":0.75,
         "silent":0,
         "seed":0,
         "lambda":0.04,
         "alpha":.15,
         #'skip_drop': 0.8,
         "eval_metric":"auc"}

num_boost_round = 90

dtrain = xgb.DMatrix(x_train, y_train)
dvalid = xgb.DMatrix(x_val, y_val)

watchlist = [(dtrain, 'train'), (dvalid, 'eval')]

booster = xgb.train(params, dtrain, num_boost_round, evals = watchlist)

[0]	train-auc:0.7159	eval-auc:0.70967
[1]	train-auc:0.716103	eval-auc:0.709894
[2]	train-auc:0.717068	eval-auc:0.709866
[3]	train-auc:0.717158	eval-auc:0.709456
[4]	train-auc:0.717287	eval-auc:0.709768
[5]	train-auc:0.716899	eval-auc:0.709436
[6]	train-auc:0.720881	eval-auc:0.71463
[7]	train-auc:0.720868	eval-auc:0.714604
[8]	train-auc:0.721828	eval-auc:0.714912
[9]	train-auc:0.721615	eval-auc:0.714018
[10]	train-auc:0.722307	eval-auc:0.714918
[11]	train-auc:0.723146	eval-auc:0.715502
[12]	train-auc:0.72332	eval-auc:0.715576
[13]	train-auc:0.723408	eval-auc:0.715595
[14]	train-auc:0.724295	eval-auc:0.716648
[15]	train-auc:0.724511	eval-auc:0.716914
[16]	train-auc:0.725919	eval-auc:0.718249
[17]	train-auc:0.726194	eval-auc:0.718719
[18]	train-auc:0.726532	eval-auc:0.719504
[19]	train-auc:0.727182	eval-auc:0.719734
[20]	train-auc:0.727505	eval-auc:0.719536
[21]	train-auc:0.728038	eval-auc:0.719943
[22]	train-auc:0.728156	eval-auc:0.720114
[23]	train-auc:0.728699	eval-auc:0.721009
[24]	train-auc:0.729731	eval-auc:0.722325
[25]	train-auc:0.730329	eval-auc:0.722562
[26]	train-auc:0.731363	eval-auc:0.723111
[27]	train-auc:0.731613	eval-auc:0.723216
[28]	train-auc:0.732627	eval-auc:0.722889
[29]	train-auc:0.733016	eval-auc:0.722885
[30]	train-auc:0.733757	eval-auc:0.722871
[31]	train-auc:0.733827	eval-auc:0.722886
[32]	train-auc:0.734788	eval-auc:0.723008
[33]	train-auc:0.735424	eval-auc:0.723164
[34]	train-auc:0.735685	eval-auc:0.723132
[35]	train-auc:0.736072	eval-auc:0.723082
[36]	train-auc:0.736137	eval-auc:0.722999
[37]	train-auc:0.736847	eval-auc:0.722938
[38]	train-auc:0.738217	eval-auc:0.723729
[39]	train-auc:0.738422	eval-auc:0.723681
[40]	train-auc:0.739163	eval-auc:0.723649
[41]	train-auc:0.739396	eval-auc:0.723711
[42]	train-auc:0.740624	eval-auc:0.72382
[43]	train-auc:0.741342	eval-auc:0.723803
[44]	train-auc:0.742616	eval-auc:0.723777
[45]	train-auc:0.743668	eval-auc:0.723832
[46]	train-auc:0.744079	eval-auc:0.723671
[47]	train-auc:0.744489	eval-auc:0.723516
[48]	train-auc:0.745562	eval-auc:0.723591
[49]	train-auc:0.745665	eval-auc:0.723628
[50]	train-auc:0.745771	eval-auc:0.723837
[51]	train-auc:0.745871	eval-auc:0.72383
[52]	train-auc:0.746285	eval-auc:0.724259
[53]	train-auc:0.746845	eval-auc:0.724349
[54]	train-auc:0.747601	eval-auc:0.724267
[55]	train-auc:0.747923	eval-auc:0.724448
[56]	train-auc:0.748114	eval-auc:0.72428
[57]	train-auc:0.748622	eval-auc:0.723939
[58]	train-auc:0.748943	eval-auc:0.72394
[59]	train-auc:0.748915	eval-auc:0.72401
[60]	train-auc:0.750052	eval-auc:0.723816
[61]	train-auc:0.750463	eval-auc:0.723793
[62]	train-auc:0.750669	eval-auc:0.723878
[63]	train-auc:0.751617	eval-auc:0.724246
[64]	train-auc:0.751768	eval-auc:0.724233
[65]	train-auc:0.752117	eval-auc:0.72408
[66]	train-auc:0.752208	eval-auc:0.724193
[67]	train-auc:0.752754	eval-auc:0.724249
[68]	train-auc:0.753281	eval-auc:0.724378
[69]	train-auc:0.754645	eval-auc:0.724631
[70]	train-auc:0.754705	eval-auc:0.724589
[71]	train-auc:0.755132	eval-auc:0.724465
[72]	train-auc:0.755499	eval-auc:0.724357
[73]	train-auc:0.755546	eval-auc:0.724414
[74]	train-auc:0.755733	eval-auc:0.72416
[75]	train-auc:0.756191	eval-auc:0.724292
[76]	train-auc:0.756321	eval-auc:0.724316
[77]	train-auc:0.75664	eval-auc:0.724509
[78]	train-auc:0.758565	eval-auc:0.724388
[79]	train-auc:0.759843	eval-auc:0.724659
[80]	train-auc:0.760281	eval-auc:0.724675
[81]	train-auc:0.760785	eval-auc:0.72447
[82]	train-auc:0.760826	eval-auc:0.724499
[83]	train-auc:0.760895	eval-auc:0.724641
[84]	train-auc:0.760993	eval-auc:0.724563
[85]	train-auc:0.76151	eval-auc:0.724501
[86]	train-auc:0.76193	eval-auc:0.724513
[87]	train-auc:0.762075	eval-auc:0.724332
[88]	train-auc:0.762409	eval-auc:0.724331
[89]	train-auc:0.763184	eval-auc:0.724546

In [382]:
from sklearn.metrics import roc_auc_score

In [383]:
xgb_pred_train = booster.predict(xgb.DMatrix(x_train))
xgb_pred_val = booster.predict(xgb.DMatrix(x_val))
xgb_pred_test = booster.predict(xgb.DMatrix(x_test))

In [384]:
print('AUC (XGB) =', roc_auc_score(y_test, xgb_pred_test))

AUC (XGB) = 0.730585369052

In [385]:
predictions = booster.predict(xgb.DMatrix(test_set))

In [386]:
submission['target'] = pd.DataFrame({'target':predictions})

In [387]:
submission.to_csv('sub3.csv', index = False)